.App {
  max-width: 80ch;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  width: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #21222a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  background-color: #282d35;
  flex-grow: 1;
  color: whitesmoke;
  padding: 2rem;
}

main > ul li {
  margin-bottom: 1rem;
}
